.navbar {
  background: transparent;
  position: absolute;
  top: 2%;
  width: 50vw;
  left: 25%;
  right: 25%;
}

.navbar.mobile {
  width: 100vw;
  height: 50px;
  left: 0;
  right: 0;
}
#hamburger {
  position: absolute;
  top: 2%;
  left: 2%;
  transition: 0.5s;
}

#hamburgerActive {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(90deg);
  top: 2%;
  left: 38%;
  padding: 0px 20px;
  transition: 0.5s;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links > a {
  flex: 0.16;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: fit-content;
}

.navbar-links > a > span {
  padding: 5px 10px;
  border-radius: 30px;
  transition: 0.5s;
}

.navbar-links > a > span:hover {
  background-color: rgba(80, 80, 80, 0.2);
}

.navbar-links-mobile {
  height: 100%;
  width: 0;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.navbar-links-mobile > a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  min-width: 90%;
  margin: 10px 0;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 700px) and (max-width: 1000px) {
  #hamburgerActive {
    left: 37.3%;
  }
}

@media all and (max-width: 699px) {
  .navbar-links-mobile > a {
    justify-content: start;
    padding: 15px 10px;
  }

  #hamburgerActive {
    left: 35%;
  }
}
